{% macro pagination(pagination,endpoint, size=10) %}
<ul>
    <li>
        <a href="
        {% if pagination.has_prev %}
            {{ url_for(endpoint, page=pagination.page - 1, size=10) }}
        {% else %}
              #
        {% endif %}
">上一页</a>
    </li>
    {% for page in pagination.iter_pages() %}
        {% if page %}
            <li><a href="{{ url_for(endpoint, page=page, size=10) }}"></a></li>
        {% endif %}
    {% endfor %}
    <li>
        <a href="
    {% if pagination.has_next %}
        {{ url_for(endpoint,page=pagination.page + 1,size=10) }}
    {% else %}
        #
    {% endif %}
">下一页</a>
    </li>
</ul>
{% endmacro %}