<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#btn').click(function () {
                let formdata = new FormData($('#form'));
                let setting = {
                    url: 'http://127.0.0.1:9000/upload/img/',
                    type: 'post',
                    //不缓存
                    cache: false,
                    date: formdata,
                    //告诉ajax不要处理数据
                    processData: false,
                    //告诉ajax不要处理contentType
                    contentType: false,
                    success: function (result) {
                        alert(111)
                    }
                };
                $.ajax(setting)
            });

        })
    </script>
</head>
<body>
<form action="/1/img" method="post" enctype="multipart/form-data" id="form">
    <input type="file" name="img">
    <input type="button" value="上传" id="btn">
</form>
</body>
</html>